@{
    ViewData["Title"] = "Events";
}

<h3>Adding Venue</h3>
<form method="post">
    Venue Name:<br>
    <input type="text" name="Event Name" value=""><br>
    Address:<br>
    <input type="text" name="Description" value=""><br>
    City:<br><br>
    <input type="submit" value="Submit">
</form>

<h3>Events to delete</h3>
<select>
    <option value="Event1">Event1</option>
    <option value="Event2">Event2</option>
    <option value="Event3">Event3</option>
    <option value="Event4">Event4</option>
</select>
